@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

header {
  background-color: var(--primary-color);
  height: 196px;
  padding: 0 0.75rem;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin: 6rem auto;
  margin-top: 0;

  @media screen and (max-width: 768px) {
    height: 220px;
  }

  & .header-title {
    width: 100%;
    display: flex;
    align-items: flex-center;
    justify-content: center;
    padding-top: 2rem;

    @media screen and (max-width: 768px) {
      gap: 1rem;
      padding-top: 4.5rem;
    }

    margin: auto;

    & h1 {
      font-family: 'Dancing Script', cursive;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      text-align: center;
    }

    & button {
      cursor: pointer;
      border: none;
      height: 100px;
      width: 130px;

      & img {
        width: 120px;
        height: 96px;
      }
    }
  }

  & .header-filter {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
    padding-top: 3px;
    justify-content: flex-end;
    padding-right: 1.5rem;
    position: fixed;
    z-index: 990;

    & .inputs {
      position: relative;
      display: flex;
      margin-top: 0;
      margin-right: 4rem;
      width: 90%;

      @media screen and (min-width: 1024px) {
        width: 300px;
      }

      height: 45px;
      border-radius: 10px;
      box-shadow: 4px 4px 10px #eee;

      & span {
        height: 45px;
        width: 45px;
        position: absolute;
        right: 0;

        & i {
          position: absolute;
          top: 14px;
          left: 4px;
          color: #b8b9bc;
        }
      }


      & .form-control {
        background: #ffffff;
        border: none;
        border-bottom: 1px solid gray;
        color: #495057;
        text-indent: 15px;
        font-size: small;
        outline: 0;

      }
    }
  }

}
