<header>
  <div class="header-filter">
    <div class="inputs">
      <input type="search" class="form-control" [formControl]="fieldSearch" placeholder="Busque por nome ou categoria..." />
      <button class="btn">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </button>
    </div>
  </div>
  <div class="header-title">
    <button (click)="irParaTelaInicial()">
      <img src="assets/images/logo.jpg" alt="Logotipo" />
    </button>
    <div class="header-title">
      <h1>Nome da padaria</h1>
    </div>
  </div>

</header>
