<div class="body">
  <app-header (searchChange)="onSearchChange($event)"></app-header>
  <section class="container" #container>
    <div class="row-card">
      <ng-container
        *ngIf="resultProducts$ | async as resultProducts; else telaInicial">
        <ng-container
          *ngTemplateOutlet="
            displayProducts;
            context: {
              $implicit: resultProducts
            }
          "></ng-container>
      </ng-container>

      <ng-template #telaInicial>
        <ng-container
          *ngTemplateOutlet="
            displayProducts;
            context: {
              $implicit: (productsFacade.products$ | async)
            }
          "></ng-container>
      </ng-template>
    </div>

    <ng-template #displayProducts let-products>
      <ng-container *ngIf="products[0]; else empty">
        <ng-container *ngFor="let product of products; let i = index">
          <div
            *ngIf="i === 0 || products[i - 1]?.category !== product.category"
            class="category">
            <h2>{{ product.category }}</h2>
          </div>
          <app-product [product]="product"></app-product>
        </ng-container>
      </ng-container>
      <ng-template #empty>
        <strong style="transform: translateX(20%)"
          >Nenhum produto encontrado</strong
        >
      </ng-template>
    </ng-template>
    {{scrollY}}
    <div
      class="cesta"
      *ngIf="(productsFacade.cart$ | async)?.length as basketLength"
      [ngStyle]="{'top': scrollY > 200 ? '4rem' : '16rem'}"
      >
      <div class="position-relative">
        <button
          class="border-0"
          style="background: none; outline: none"
          (click)="openModalOrder()">
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >{{ basketLength }}</span
          >
          <fa-icon [icon]="basketIcon" size="2xl"></fa-icon>
        </button>
      </div>
    </div>
    <div *ngIf="order">
      <app-modal-order
        #modalOrder
        (productChange)="removeProduct($event)"
        (orderSendChange)="sendOrder($event)"
        [order]="order"></app-modal-order>
    </div>
  </section>
  <app-footer></app-footer>
</div>
