<section class="container">
  <header>Que livro você procura?</header>
  <div class="busca">
    <input type="search" [formControl]="fieldSearch" />
    <button>
      <img src="assets/imagens/icone-busca.png" alt="Lupa de cor roxa" />
    </button>
  </div>
  <p>Busque por nome ou categoria...</p>
  <div class="resultados mensagem-erro" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>
  <div class="row-card">
    <div
      class="container-card row-card"
      *ngIf="resultProducts$ | async as result; else telaInicial">
        <div *ngFor="let product of listProducts">
          <app-product [product]="product" (modalChangeProduct)="onModalChange()"></app-product>
        </div>
      </div>
    </div>
    <ng-template #telaInicial>
      <div *ngFor="let product of productsFacade.products$ | async">
        <div *ngIf="product">
          <app-product [product]="product" (modalChangeProduct)="onModalChange()"></app-product>
        </div>
      </div>
    </ng-template>
</section>
