<div class="card">
  <img
    src="{{
      product.image !== undefined
        ? product.image
        : 'assets/imagens/capa-indisponivel.png'
    }}"
    alt="Capa do livro" />
  <div class="card-body">
    <p class="card-title">{{ product.title}}</p>
    <p class="card-text">Descrição:</p>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">Preço:</p>
    <p class="card-text">
      {{ product.measurementValue }}/{{ product.measurementUnit }}
    </p>
    <button (click)="onModalChange(true)">Mais detalhes</button>
  </div>
</div>
<div *ngIf="modalAberto">
  <app-modal-product
    [product]="product"
    (changeModal)="onModalChange(false)"></app-modal-product>
</div>
