<div class="card">
  <div>
    <img
      src="{{
        product.image !== undefined
          ? product.image
          : 'assets/image/capa-indisponivel.jpg'
      }}"
      alt="Capa do livro" />
  </div>
  <div class="card-body info-card">
    <h3 class="card-title title">{{ product.title }}</h3>
    <p class="card-text">{{ product.description | slice: 0 : 15 }}...</p>
    <div class="price-qtd">
      <strong class="card-text"
        >R${{ product.price }}/{{ product.measurementUnit | lowercase }}</strong
      >
      <button style="margin-right: 12px;" (click)="onModalChange(true)">+</button>
    </div>
  </div>
</div>
<div *ngIf="modalAberto">
  <app-modal-product
    [product]="product"
    (changeModal)="onModalChange(false)"></app-modal-product>
</div>
