<ng-template #content let-modal *ngIf="statusModal && formOrder && products">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Carrinho de compras</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="card" [formGroup]="formOrder">
    <div class="w-full text-end pe-2">
      <b>Valor</b>
    </div>
    <div
      class="modal-body mb-5"
      formArrayName="products"
      *ngFor="let product of products.controls; let i = index">
      <div
        class="row align-items-baseline"
        [formGroup]="getProductGroup(product)">
        <div class="col col-1">
          <span
            ><fa-icon [icon]="removeIcon" (click)="removeProduct(i)"></fa-icon
          ></span>
        </div>
        <div class="col col-4">
          <span>{{ product.get('title')?.value }}</span>
        </div>
        <div class="col col-5 col-lg-4">
          <div class="d-flex align-items-center gap-1 gap-md-2">
            <button class="button-quantity">
              <fa-icon
                [icon]="negativeIcon"
                (click)="changeProductValue('decrement', i)"></fa-icon>
            </button>
            <input
              type="number"
              formControlName="quantity"
              min="0"
              max="1000"
              class="form-control" />
            <button class="button-quantity">
              <fa-icon
                [icon]="positiveIcon"
                (click)="changeProductValue('increment', i)"></fa-icon>
            </button>
          </div>
        </div>
        <div class="col col-2 col-lg-3 text-end sum-product">
          <span
            ><strong>{{ getTotal(i) | currency }}</strong></span
          >
        </div>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col col-12">
        <div class="form-label">
          <label for="whatsAppNumber"
            ><span>Escreva sua observação </span
            ><small>(opcional)</small></label
          >
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="description"
            placeholder="Exemplo: Enviar sem embalagens"
            class="form-control" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12">
        <div class="form-label">
          <label for="whatsAppNumber"
            ><span>Número do whatsapp que vai receber o pedido </span
            ><small>(obrigatório)</small
            ><span class="text-danger">*</span></label
          >
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="whatsAppNumber"
            placeholder="Exemplo: 21912345678"
            class="form-control" />
        </div>
        <div class="mt-1" *ngIf="errorsWhatsAppNumber && submitted">
          <span class="text-danger" *ngIf="errorsWhatsAppNumber['required']"
            >É obrigatório preencher este campo</span
          >
          <ng-container *ngIf="errorsWhatsAppNumber['pattern']">
            <p class="text-danger">Formato de número inválido.</p>
            <span
              >Exemplo de número válido:
              <strong class="text-decoration-underline"
                >21912345678</strong
              ></span
            >
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col col-12 text-end">
        <span
          >Total:
          <strong>{{ formOrder.get('amount')?.value | currency }}</strong></span
        >
      </div>
    </div>
    <div class="modal-footer">
      <div class="col col-12">
        <div class="form-group">
          <button
            class="btn btn-success"
            style="width: -webkit-fill-available"
            (click)="closeOrder()">
            Enviar pedido para whatsapp
            <fa-icon class="ms-2" [icon]="whatsappIcon" [size]="'2x'"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
