<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ product.title }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-between">
      <div>
        <img src="{{ product.image }}" alt="{{ product.title }}" />
        <p>{{ product.description }}</p>
      </div>
      <div class="content-form">
        <form>
          <hr />
          <div class="mb-3">
            <div class="row g-3 mb-3">
              <div class="col-12 d-flex justify-content-between">
                <span>Preço: </span>
                <strong>{{ product.price | currency: 'BRL' }}/{{ product.measurementUnit }}</strong>
              </div>
            </div>
            <div class="form-group">
              <div
                class="row g-3 align-items-center justify-content-between mb-3">
                <div class="col-4" style="text-align: left">
                  <span>Quantidade: </span>
                </div>
                <div class="d-flex align-items-center gap-4" style="width: 60%">
                  <span class="button-quantity">
                    <fa-icon [icon]="negativeIcon"></fa-icon>
                  </span>
                  <input
                    type="number"
                    name="quantity"
                    value="1"
                    min="0"
                    max="1000"
                    class="form-control" />
                  <span class="button-quantity">
                    <fa-icon [icon]="positiveIcon"></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close('Save click')">
      Adicionar ao carrinho
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Launch demo modal
</button>

<hr />

<pre>{{ closeResult }}</pre>
