// * {
//   border: 2px solid red;
// }

.content-form {
  text-align: right;
  min-width: 50%;
  .button-quantity {
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    background-color: green;
    cursor: pointer;
  }
}
