footer {
  background-color: var(--primary-color);
  height: 83px;
  width: 100%;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 100px;

  & p {
    font-size: 20px;
    font-weight: 500;
  }
}

span {
  margin-right: 0.5rem;
  margin-top: 0.75rem;
  font-size: 36px;
}
